img.poster-detail-img {
  max-width: 300px;
}

.container {
  display: flex;
  padding: 2rem;
  gap: 3rem;
}

.info-detail {
  display: flex;
  gap: 10rem;
}

.line {
  width: 80%;
}

.title {
  text-align: center;
}
