img.poster-img {
  max-width: 250px;
}

body {
  background-color: aqua;
}

tr:hover {
  background-color: rgb(173, 198, 230);
  cursor: pointer;
}

thead {
  background-color: palevioletred;
}

.table {
  gap: 100px;
  display: flex;
  flex-wrap: wrap;
}

.movie {
  display: flex;
  flex-direction: column;
}
