<h1>Lista de Películas</h1>
<div>
  <div>
    <table class="table">
      @for(movie of movies; track movie.id) {

      <tr class="movie" (click)="onSelect(movie)">
        <td>
          <img class="poster-img" [src]="movie.posterImageUrl" alt="{{ movie.title }} poster" />
        </td>
        <td>
          <b>{{ movie.title }}</b>
        </td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.releaseYear }}</td>
        <td>{{ movie.rating }}</td>
      </tr>
      }
    </table>
  </div>
</div>
